DB_NAME=taller_sc
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Email (Gmail App Password)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST_USER=stevenson.celi6741@utc.edu.ec
EMAIL_HOST_PASSWORD=xpil lzks eguv ixuz
DEFAULT_FROM_EMAIL=stevenson.celi6741@utc.edu.ec
