{% extends "plantillaPrincipal.html" %}
{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br>
            <h1><b>Actualizar Vehículo</b></h1>
            <hr>
            <form id="form_editar_vehiculo" enctype="multipart/form-data" action="/vehiculos/actualizar/" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ vehiculo.id }}">
                <b>Cliente:</b><br>
                <select required class="form-control" name="cliente">
                    {% for cliente in clientes %}
                    <option value="{{ cliente.id }}" {% if vehiculo.cliente_id == cliente.id %}selected{% endif %}>{{ cliente.nombre }} {{ cliente.apellido }} - {{ cliente.cedula }}</option>
                    {% endfor %}
                </select>
                <br>
                <b>Placa:</b><br>
                <input required maxlength="10" class="form-control" type="text" name="placa" value="{{ vehiculo.placa }}">
                <br>
                <b>Marca:</b><br>
                <input required class="form-control" type="text" name="marca" value="{{ vehiculo.marca }}">
                <br>
                <b>Modelo:</b><br>
                <input required class="form-control" type="text" name="modelo" value="{{ vehiculo.modelo }}">
                <br>
                <b>Año:</b><br>
                <input required class="form-control" type="number" min="1900" max="2100" name="anio" value="{{ vehiculo.anio }}">
                <br>
                <b>Color:</b><br>
                <input class="form-control" type="text" name="color" value="{{ vehiculo.color|default:'' }}">
                <br>
                <b>Tipo:</b><br>
                <select class="form-control" name="tipo">
                    <option value="sedan" {% if vehiculo.tipo == 'sedan' %}selected{% endif %}>Sedán</option>
                    <option value="suv" {% if vehiculo.tipo == 'suv' %}selected{% endif %}>SUV</option>
                    <option value="pickup" {% if vehiculo.tipo == 'pickup' %}selected{% endif %}>Pick-up</option>
                    <option value="hatchback" {% if vehiculo.tipo == 'hatchback' %}selected{% endif %}>Hatchback</option>
                    <option value="furgon" {% if vehiculo.tipo == 'furgon' %}selected{% endif %}>Furgón</option>
                    <option value="otro" {% if vehiculo.tipo == 'otro' %}selected{% endif %}>Otro</option>
                </select>
                <br>
                <button class="btn btn-success" type="submit"><i class="fa fa-edit"></i> Actualizar</button>
                <a href="/vehiculos/" class="btn btn-danger"><i class="fa fa-times"></i> Cancelar</a>
            </form>
        </div>
    </div>
</div>
<script>
$(function(){
    $('#form_editar_vehiculo').validate({
        rules: { cliente:{required:true}, placa:{required:true}, marca:{required:true}, modelo:{required:true}, anio:{required:true} },
        messages: { cliente:{required:'Seleccione un cliente'}, placa:{required:'Ingrese la placa'}, marca:{required:'Ingrese la marca'}, modelo:{required:'Ingrese el modelo'}, anio:{required:'Ingrese el año'} }
    });
});
</script>
{% endblock %}
